
.loginContainer {
    margin: 0 auto;
    width: 350px;
}

.myWell {
  padding: 20px;
  margin: 5px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  text-align: center;
}

#formButton{
    display: inline;
}

.welcome-header{
    text-align: center;
    font-family: serif;
}

.add-package-btn{
     position: relative;
  top: 0;
  right: -45%;
}

.package-container{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    text-align: center;
}